<div id="hostGameDiv" class="row d-flex align-items-center cwContainer">

    <div class="card shadow-sm clockworkCardWide p-0">

        <div class="card-header bg-dark">

            <div class="position-absolute start-0 translate-middle p-2 border border-3 rounded-circle accentIcon shadow-lg"><span class="bi bi-gear-fill"></span></div> <span class="headerTitle">Change Game Settings</span>

        </div>

        <div class="card-body">

            <% if (typeof error === "string") { %>
            
            <p><%=error %></p>
            
            <% } else if (typeof organizedGames !== "object" || Array.isArray(organizedGames) === true) { %>
            
            <p>A problem occurred. No game data received from server.</p>
            
            <% } else if (Object.keys(organizedGames).length <= 0) { %>
            
            <p>You have no organized games or all your organized games have already started.</p>
            
            <% } else { %>

                <%- include('../game_settings_list.ejs')-%>
                <script src="../../js/load_session_id.js"></script>
                
                <% Object.keys(organizedGames).forEach(function(gameName, i) {%>
                    
                    <% const gameSettings = organizedGames[gameName].settings; %>
                    <% const serverName = organizedGames[gameName].serverName; %>

                    <div id="<%=gameName%>_container" name="game_container" <% if (i > 0) { %> style="display:none;" <% } %> >
                        <form id="change_game_settings_form" action="/change_dom6_settings" method="POST" >
            
                            <input type="hidden" name="sessionId" value="<%=(typeof sessionId === "string") ? sessionId : "none"%>"/>
                            <input type="hidden" name="name" value="<%=gameName%>"/>
                        
                            <%- include('../settings/default_ai_level.ejs')-%>
                            <%- include('../settings/mod_list.ejs', { gameSettings, mods })-%>
                            <%- include('../settings/map_list.ejs', { gameSettings, maps })-%>                
                            <%- include('../settings/modifiers.ejs', { gameSettings })-%>
                            <%- include('../settings/starting_provinces.ejs', { gameSettings })-%>
                            <%- include('../settings/cataclysm.ejs', { gameSettings })-%>
                            <%- include('../settings/global_slots.ejs', { gameSettings })-%>
                            <%- include('../settings/hall_of_fame.ejs', { gameSettings })-%>
                            <%- include('../settings/mercenaries.ejs', { gameSettings })-%>
                            <%- include('../settings/independents_strength.ejs', { gameSettings })-%>
                            <%- include('../settings/magic_sites.ejs', { gameSettings })-%>
                            <%- include('../settings/thrones.ejs', { gameSettings })-%>
                            <%- include('../settings/research.ejs', { gameSettings })-%>
                            <%- include('../settings/level_9_research.ejs', { gameSettings })-%>
                            <%- include('../settings/artifact_forging.ejs', { gameSettings })-%>
                            <%- include('../settings/events.ejs', { gameSettings })-%>
                            <%- include('../settings/scoregraphs.ejs', { gameSettings })-%>
                            <%- include('../settings/disciples.ejs', { gameSettings })-%>

                            <div class="row mt-5">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-dark btn-md">
                                        <i class="bi bi-gear-fill"></i>Change Settings
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    
                <% }); %>

                <!-- Switch the display of the different game settings based on the selected game -->
                <script src="../../js/update_game_setting_changes.js"></script>
            
            <% } %>

        </div>
        
    </div>
    
</div>