<div id="presentationDiv" class="row d-flex align-items-center cwContainer">

    <div class="card shadow-sm clockworkCardWide p-0">

        <div class="card-header bg-dark">

            <div class="position-absolute start-0 translate-middle p-2 border border-3 rounded-circle accentIcon shadow-lg"><span class="bi bi-chat-left-quote-fill"></span></div> <span class="headerTitle">Donate to Mr. Clockwork</span>

        </div>

        <div class="card-body">

            <h3>Help keep Mr. Clockwork running</h3>
            
            <p>
                Mr. Clockwork is a community effort that consists of not only this website
                but also multiple game servers to host Dominions games as well as the code
                for the Mr Clockwork bot that helps runs games through Discord.
            </p>
            
            <p>
               The funds raised for Mr. Clockwork help keep those servers running as well as
               provide future funds to keep the system running for up to six months.
            </p>
            
            <p>
                You can find more information on the <a href="https://www.patreon.com/MrClockwork" target="_blank">Mr. Clockwork Patreon page</a>.
                And if you would like to provide one-time, personal donations instead we have also <a href="https://ko-fi.com/mrclockwork." target="_blank">set up a ko-fi</a> where you 
                can do just that.
            </p>
            
            
        </div>
        
    </div>
    
</div>