<div id="presentationDiv" class="row d-flex align-items-center">
    
    <div class="w-25">
        
        <figure class="figure">
          <img src="img/hound_sml_shadow.png" class="figure-img img-fluid" alt="Mr. Clockwork logo">
        </figure>
                    
    </div>
    
    <div class="w-75 pe-5">
        
        <h1>Clockwork v4 is here!</h1>
        
        <p>
            Mr. Clockwork is a Discord bot built specifically to help players host their 
            <a href="https://store.steampowered.com/app/722060/Dominions_5__Warriors_of_the_Faith/">Dominions 5</a> or <a href="https://store.steampowered.com/app/2511500/Dominions_6__Rise_of_the_Pantokrator/">Dominions 6</a> games. 
            Featuring integrated live game status updates, player preferences, map and 
            mod uploading and more, the bot commands several dedicated servers to 
            provide hosting space for a game in which each match can easily last several months.
        </p>
        
    </div>

</div>

<div id="identifyDiv" class="row text-center">

    <div class="w-100 mt-3">
        <h3>Available to <%=memberCount%> members in <%=guildCount%> servers</h3>
    </div>

    <div class="w-100 mt-5">

        <a href="/authenticate" class="btn btn-secondary rounded-pill" >
            <img src="img/discord_logo_white.svg" alt="Discord logo" class="discordLogo">
            Go to Dashboard
        </a>

    </div>
    
</div>