<!-- Statistics -->
<div id="statisticsDiv" class="row d-flex pl-lg-5 pl-md-4">

    <div class="card shadow-sm clockworkCardWide p-0">
    
        <div class="card-header bg-dark">
            <div class="position-absolute start-0 translate-middle p-2 border border-3 rounded-circle accentIcon shadow-lg"><span class="bi bi-server"></span></div> <span class="headerTitle">Server Status</span>
        </div>
        
        <div class="card-body">
        
            <table class="table align-middle cwTable shadow-sm">
            
                <thead class="thead">
                    <tr>
                        <th scope="col">Game Server</th>
                        <th scope="col">Status</th>
                        <th scope="col">Available Slots</th>
                        <th scope="col">Max. Slots</th>
                    </tr>
                </thead>
                
                <tbody class="cwTableBody">
        
                    <% servers.forEach((server) => { %>
        
                        <tr>
                            <td><%=server.name %></td>
                            <td><%=server.status %></td>
                            <td><%=server.availableSlots %></td>
                            <td><%=server.maxSlots %></td>
                        </tr>
        
                    <% }); %>
        
                </tbody>
                
                </table>
        
            </div>

        </div>

</div>