<div id="displayDiv" class="row d-flex pl-lg-5 pl-md-4">

    <% if (typeof sessionData !== "object" || typeof sessionData.sessionId !== "string" || typeof sessionData.userId !== "string") { %>

        <div>
            <b>Session id:</b> <b>BAD SESSION!</b><br>
        </div>

    <% } else { %>
        
        <script src="../../js/store_session_id.js"></script>
        
        <div class="gameButtonBar mb-5 w-75" role="toolbar">

            <div class="btn-group me-2" role="group">
                
              <form id="host_dom6_screen_form" action="/host_dom6" method="GET">
                  <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                  <button type="submit" class="btn btn-dark rounded-pill">
                    <i class="bi bi-hdd-network-fill"></i> Host Dom6
                  </button>
              </form>
              
            </div>
        
            <div class="btn-group me-2" role="group">
            
                <form id="change_dom6_settings_screen_form" action="/change_dom6_settings" method="GET">
                    <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                    <button type="submit" class="btn btn-dark rounded-pill">
                        <i class="bi bi-gear-fill"></i> Change Dom6 settings
                    </button>
                </form>
            
            </div>

            <div class="btn-group me-2" role="group">
                
              <form id="host_dom5_screen_form" action="/host_dom5" method="GET">
                  <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                  <button type="submit" class="btn btn-dark rounded-pill">
                    <i class="bi bi-hdd-network-fill"></i> Host Dom5
                  </button>
              </form>
              
            </div>
        
            <div class="btn-group me-2" role="group">
            
                <form id="change_dom5_settings_screen_form" action="/change_dom5_settings" method="GET">
                    <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                    <button type="submit" class="btn btn-dark rounded-pill">
                        <i class="bi bi-gear-fill"></i> Change Dom5 settings
                    </button>
                </form>
            
            </div>
            
            <div class="btn-group" role="group">
                
                <form id="edit_preferences_screen_form" action="/edit_preferences" method="GET">
                    <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                    <button type="submit" class="btn btn-dark rounded-pill">
                        <i class="bi bi-sliders"></i> Edit game preferences
                    </button>
                </form>
            
            </div>
                
        </div>    

    <% } %>

    <% if (typeof sessionData === "object" && typeof sessionData.sessionId === "string" && typeof sessionData.userId === "string") { %>
    
        <div class="card shadow-sm clockworkCardWide p-0 mb-5">
    
            <div class="card-header bg-dark d-flex flex-row align-items-center">
                <div class="position-absolute start-0 translate-middle p-2 border border-3 rounded-circle accentIcon shadow-lg"><span class="bi bi-hdd-network-fill"></span></div> <span class="headerTitle">Hosted Games</span>
            </div>
    
            <div id="hostedGamesCardBody" class="card-body d-flex flex-row align-items-center justify-content-center">
    
                <%- include('../game_table.ejs', { games: (sessionData != null) ? sessionData.organizedGames : null })-%>
    
            </div>
        </div>
    
        <div class="card  shadow-sm clockworkCardWide p-0 mb-5">
    
            <div class="card-header bg-dark d-flex flex-row align-items-center">
                <div class="position-absolute start-0 translate-middle p-2 border border-3 rounded-circle accentIcon shadow-lg"><span class="bi bi-keyboard-fill"></span></div> <span class="headerTitle">Games you are playing</span>
            </div>
    
            <div class="card-body d-flex flex-row align-items-center justify-content-center">
    
                <%- include('../game_table.ejs', { games: (sessionData != null) ? sessionData.playedGames : null })-%>
                
            </div>
        </div>
    
    <% } %>

</div>