<body>
        
    <!-- MAIN CONTAINER FOR BOTH THE HEADER OF THE PAGE AND THE BODY -->
    <div class="container main_container">
        
        <!-- HEADER -->
        <div class="row page_header">
            
            <!-- Filler column -->
            <div class="col-md"></div>
            
            <!-- BANNER COLUMN -->
            <div class="col">
                <img src="img/logo.png" class="img-fluid w-50" alt="Mr. Clockwork logo">
            </div>
            
            <!-- NAVBAR COLUMN -->
            <div class="col-4 text-h-centered text-v-centered">
                
                <!-- Navbar expands on medium screens or larger -->
                <!-- Original navbar code taken from: https://mdbootstrap.com/docs/jquery/navigation/navbar/ and edited to fit my purpose -->
                <nav class="navbar navbar-expand-md navbar-dark">
                    
                    <!-- On smaller screens it collapses and a toggler button shows up -->
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContainer"
                        aria-controls="navbarContainer" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarContainer">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="list_games.html">Check a game</a>
                            </li>
                        </ul>
                    </div> -->
                    
                </nav>
                
            </div>
            
            <!-- Filler column -->
            <div class="col-md"></div>
            
        </div>
        <!---------------->
        
        <!-- BODY -->
        <div class="row section">
            
            <!-- Left buffer column that pads the space between the content sections and the body -->
            <div class="col-md buffer_left"></div>
            <div class="col-md-8 main_section">
            
                <div id="bodySection" class="section">