<div class="row mb-2">

    <legend class="col-form-label col-sm-3 pt-0">Change settings for:</legend>
    
    <div class="col-sm-9">
        
        <!-- Must use typeof to check if variable exists at all, since it might be undefined -->
        <% if (typeof organizedGames === "object" && Array.isArray(organizedGames) === false && Object.keys(organizedGames).length > 0) { %>
            <select id="game_select" name="gameName" class="form-control selectpicker">
        
                <% for (var gameName in organizedGames) {%>
        
                    <option value="<%=gameName%>"><%=gameName%></option>
        
                <% }; %>
                
            </select>
        
        <% } else { %>
        
            <p><b>No games organized by you.</b></p>
        
        <% } %>

    </div>
    
</div>