<header class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark flex-md-nowrap p-0 shadow clockworkNav align-content-end">
  
  <div class="container-fluid">
  
    <figure class="figure col-md-3 col-lg-2 me-0 px-3 pl-3">
      <a href="/"><img src="img/hound_sml_shadow.png" class="d-inline-block img-fluid w-25 pt-1" alt="Mr. Clockwork logo. Hex! Hex!"></a>
    </figure>

    <div class="navbar-nav" id="mainNavbarLinks">
  
      <a class='px-3 <%=(typeof page === "string" && page === "home") ? "nav-link active" : "nav-link"%>' href="/">Home</a>
      <a class='px-3 <%=(typeof page === "string" && page === "bot_commands") ? "nav-link active" : "nav-link"%>' href="/bot_commands">Bot Commands</a>
      <a class='px-3 <%=(typeof page === "string" && page === "about") ? "nav-link active" : "nav-link"%>' href="/about">About</a>
      <a class='px-3 <%=(typeof page === "string" && page === "donate") ? "nav-link active" : "nav-link"%>' href="/donate">Donate</a>

      <% if (typeof sessionId === "string") { %>
        <a class="nav-link  px-3" href="/logout">Sign out</a>
      <% } %>

    </div>

  </div>

</header>