*.ini
*.bat
*.txt
*.out
*.zip
*.env

# Sensitive config data
config/config.json
config/trusted_server_data.json

#node modules
node_modules/

#app data
data/


package-lock.json
client/css/.DS_Store
client/js/.DS_Store
.config.codekit3
build/client/css/main-min.css
.DS_Store
.DS_Store
