/* Reset default margins and paddings */
* {
    padding: 0px;
    margin: 0px;
}

/* COLOR SCHEME */

    /* Main background color */
    body {
        background: #303138;
    }

    /* Smaller headlines used in the news cards */
    h5 {
        color: #003166;
    }

    /* Headlines used as picture footers */
    h6 {
        color: #003166;
    }

    /* News cards footer text */
    small {
        color: #003166;
    }

    /* Footer padding and color */
    footer {
        
    }
    
    /* sidebar background and links*/
    .navBGDark {
        background: #3c4148;
    }

    #sidebarMenu .nav-link{
        color: white;
    }
    
    #sidebarMenu .nav-link:hover{
         color: rgb(184, 0, 0);
     }
     
     #sidebarMenu .active:hover {
        color: white;
     }
     
    #sidebarMenu .active{
        background: #2c2f35;
        border-bottom: solid rgb(135, 0, 0) 2px;
    }
    
    .bi {
        margin-right: .125rem;
        color:grey;
    }
    
    /* text styles for home page */
    #presentationDiv a {
        color: white;
        text-decoration: underline;
    }
    
    #presentationDiv a:hover {
        color:rgb(135, 0, 0);
    }

    /* Main section and footer both share this colour */
    .section {
        background: #557A95;
    }

    /* Top bar modal color */
    .modal-content {
        background: #557A95;
    }

    /* Body modal color */
    .modal-body {
        background: #7394BF;
    }

    /* Color of staff cards in our_staff */
    .staff_card {
        background: #719181;
    }

    /* Color of news cards */
    .card.flex-row {
        background: #719181;
    }

    /* Color of key facts in staff cards */
    .list-group-item {
        background: #719181;
    }

    /* Color of links within the footer */
    .footerText {
        font-size: .65rem;
    }
    
    /* image styles */
    .discordLogo {
        max-width: 40px;
    }

/* button bar style */
.gameButtonBar {
    margin-left: 3rem;
}

/* card styles */
.clockworkCard {
    background: #3c4148;
    max-width: 50%;
    margin-left: 3rem;
}

.clockworkCardWide{
    background: #3c4148;
    max-width: 75%;
    margin-left: 3rem;
}

.card-header {
    border-bottom: solid rgb(135, 0, 0) 2px;
}

.headerTitle {
    color: white;
    margin-left: .25rem;
}

a[role=option] .text{
    color:black;
}

/* table styles */
.cwTable {
    background-color: #7c7c7c;
    border: solid 1px black;
}

.cwTable .thead {
    color: white;
    background: #3c4148;
}

.cwTableBody {
    color: white;
}

.cwTableBody tr {
    border-style: none;
}

.table > :not(:first-child) {
   border-style: none; /* we need to overload this bootstrap style as I don't like how it looks */
}

/* classes for form elements */
.cwContainer .col-form-label {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.cwContainer input[type="number"] {
    min-width: 100px;
}

.cwContainer label {
    color: white;
}

.cwLegend {
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}

.cwTableRow label {
    font-size: 1rem;
    font-weight: bold;
}

.dropdown-header .text {
   color:black;
}

.check-mark{
   color: rgb(135, 0, 0);
}

.btn-dark:hover {
   background-color: #2c2f35;
}

/**** COLOR SCHEME END ****/

h1 {
    font-size: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}

h2 {
    font-size: 24px;
    font-family: "Arial", Gadget, sans-serif; 
    color: white;
}

h3 {
    font-size: 20px;
    font-family: "Arial", Gadget, sans-serif; 
    color: white;
}

h5 {
    font-family: "Arial", Gadget, sans-serif;
    color: white;
}

/* Footer headlines used as picture footers */
h6 {
    font-size: 10x;
    color: white;
}

/* General text style */
p, span {
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
}

.bg {

}

.btn {
    border-radius: 50px;
}

.card-bg {
    background-color: #7394BF;
    width: 100%;
}

.navbar {
    padding: 0px;
    margin: 0px;
    justify-content: flex-start;
}

.navbar-brand {
    padding: 0px;
    margin: 0px;
    height: 4%;
    width: 12%;
}

.nav-item {
    display: flex;
    justify-content: center;  
    flex-direction: column;
}

.card.flex-row {
    margin: 3%;
}

/* helper to center text vertically or horizontally */
.text-h-centered {
    text-align: center;
    vertical-align: middle;
}

.text-v-centered {  
    display: flex;
    justify-content: center;  
    flex-direction: column;
}

/* helper to center images horizontally */
.centered-ele {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

/* flex container for easy alignment of inside elements */
.flex_container_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* flex container for easy alignment of inside elements */
.flex_justify_start {
    justify-content: start;
}

.margin_right_sm {
    margin-right: 3%;
}

/* Responsive media query for big screens */
@media screen and (min-width: 601px) {
    p, span {
        font-size: 16px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 14px;
    }

    .main_container {
        max-width: 90%;
    }

    .main_section {
        max-width: 100%;
    }
}

/* Responsive media query for small screens, also swaps the main container to occupy as much width as possible for more space */
@media screen and (max-width: 601px) {
    p, span {
        font-size: 14px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    h5 {
        font-size: 14px;
    }
    
    h6 {
        font-size: 12px;
    }

    .main_container {
        max-width: 100%;
    }
}