
<div class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Difficulty level when player goes AI</legend>
    
    <div class="col-sm-9">
        <select id="input_default_ai" name="defaultAiLevel" class="form-control selectpicker w-100">
    
            <option value="0">No going AI allowed</option>
            <option value="1">Easy AI</option>
            <option value="2">Normal AI</option>
            <option value="3">Difficult AI</option>
            <option value="4">Mighty AI</option>
            <option value="5">Master AI</option>
            <option value="6">Impossible AI</option>
    
        </select>
    </div>

    <% if (typeof gameSettings === "object" && gameSettings.defaultAiLevel != null) { %>
        <script>
            $(window).on("load", function() {
                const defaultAiSelect = $("#<%= gameName %>_container").find("#input_default_ai");
                defaultAiSelect.val(<%= gameSettings.defaultAiLevel %>);
                defaultAiSelect.selectpicker("refresh");
            });
        </script>
   <% } %>
</div>
