<div class="row mb-2">

        <legend class="col-form-label col-sm-3 pt-0">Disciples Mode</legend>
        
        <div class="col-sm-9">
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_0" value="0"
                    <% if (typeof gameSettings !== "object" || (typeof gameSettings === "object" && gameSettings.disciples == 0)) { %> checked <% } %>
                >
                <label class="form-check-label" for="disciples_radio_0">
                    Disabled
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_1" value="1"
                    <% if (typeof gameSettings === "object" && gameSettings.disciples == 1) { %> checked <% } %>
                >
                <label class="form-check-label" for="disciples_radio_1">
                    Enabled
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_2" value="2"
                    <% if (typeof gameSettings === "object" && gameSettings.disciples == 2) { %> checked <% } %>
                >
                <label class="form-check-label" for="disciples_radio_2">
                    Enabled, with clustered starts<br>(do not choose this if you have pre-defined nation starting locations)
                </label>
            </div>
            
        </div>

</div>