<div class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Hall of Fame Entries</legend>
    
    <div class="col-sm-9">
        <input class="form-control w-auto"  type="number" id="input_hall_of_fame" name="hallOfFame" min="5" max="20" pattern="\d\d?"
            <% if (typeof gameSettings === "object" && typeof gameSettings.hallOfFame === "number") { %> value=<%=gameSettings.hallOfFame %> <% } else { %> value="10" <% } %>
        >
    </div>
    
</div>