<div class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Independent's Strength</legend>
    
    <div class="col-sm-9">
        <input class="form-control w-auto"  type="number" id="input_independents_strength" name="independentsStrength" min="0" max="9" pattern="\d"
            <% if (typeof gameSettings === "object" && typeof gameSettings.independentsStrength === "number") { %> value=<%=gameSettings.independentsStrength %> <% } else { %> value="5" <% } %>
        >
    </div>
    
</div>