
<div id="maps_div" class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Maps</legend>
    
    <div class="col-sm-9">
        
        <select id="input_map" name="map" class="form-control selectpicker w-100" data-size="8" data-show-subtext="true" required>
    
            <!-- Must use typeof to check if variable exists at all, since it might be undefined -->
            <% if (typeof maps === "object" && Array.isArray(maps) === true) { %>
                <% maps.forEach((mapData, i) => {%>
                    <option data-subtext="<%=mapData.land %> land + <%=mapData.sea %> sea" value="<%=mapData.name %>"  
                        <% if (typeof gameSettings === "object" && gameSettings.map != null && typeof gameSettings === "object" && gameSettings.map === mapData.name) { %> selected <% } %>
                    >
                        <%=mapData.name %>
                    </option>
                <% }); %>
            <% } else { %>
                <p>No maps available</p>
            <% } %>
    
        </select>
    
    </div>
    
</div>