
<div id="maps_div" class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Maps</legend>
    
    <div class="col-sm-9">
        
        <select id="input_map" name="map" class="form-control selectpicker w-100" data-size="8" data-show-subtext="true" required>
    
            <%- include('../settings/map_list_select_content.ejs', { maps })-%>
    
        </select>
    
    </div>
    
</div>