
<div id="mods_div" class="row mb-2 align-items-center">

    <legend class="col-form-label col-sm-3 pt-0">Mods</legend>
    
    <div class="col-sm-9">
        <select id="input_mod" name="mods" data-placeholder="Select mods" data-select-all="false" multiple data-multi-select data-theme="light">
            <%- include('../settings/mod_list_select_content.ejs', { mods: (typeof mods === "object")? mods : null })-%>
        </select>

        <script src="../../js/initialize-multiselects.js"></script>
    </div>
    
</div>
