<!-- Must use typeof to check if variable exists at all, since it might be undefined -->
<% if (typeof mods === "object" && Array.isArray(mods) === true) { %>
    <% const modsAlreadyIncluded = []; %>
    <% mods.forEach((mod) => {%>
        <option value="<%=mod.path %>" 
            <% if (typeof gameSettings === "object" && typeof gameSettings.mods === "object" && Array.isArray(gameSettings.mods) === true && gameSettings.mods.includes(mod.name) === true && modsAlreadyIncluded.includes(mod.name) === false) { modsAlreadyIncluded.push(mod.name); %> selected <% } %> 
        ><%=mod.name %></option>
    <% }); %>
<% } else { %>
    <p>No mods available</p>
<% } %>