
<div id="mods_div" class="row mb-2">

    <legend class="col-form-label col-sm-3 pt-0">Mods</legend>
    
    <div class="col-sm-9">
        
        <select id="input_mod" name="mods" class="form-control selectpicker w-100" data-width="100%" data-size="10" multiple data-live-search=true>
            
            <%- include('../settings/mod_list_select_content.ejs', { mods: (typeof mods === "object")? mods : null })-%>
    
        </select>

    </div>
    
</div>