<div class="row">
    <legend class="pt-0 cwLegend">Modifiers</legend>
</div>

<div id="modifiers_div" class="row mb-2 cwTableRow">
    
    <div class="col-sm-3">
        <label for="input_gold_modifier" class="form-label">Gold</label>
        <div class="w-auto">
            <input class="form-control" type="number" id="input_gold_modifier" name="goldModifier" min="50" max="300" pattern="\d\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.goldModifier === "number") { %> value=<%=gameSettings.goldModifier %> <% } else { %> value="100" <% } %>
            >
        </div>
    </div>
    
    <div class="col-sm-3">
        <label for="input_resources_modifier" class="form-label">Resources</label>
        <div class="w-auto">
            <input class="form-control" type="number" id="input_resources_modifier" name="resourcesModifier" min="50" max="300" pattern="\d\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.resourcesModifier === "number") { %> value=<%=gameSettings.resourcesModifier %> <% } else { %> value="100" <% } %>
            >
        </div>
    </div>
    
    <div class="col-sm-3">
        <label for="input_supplies_modifier" class="form-label">Supplies</label>
        <div class="w-auto">
            <input class="form-control" type="number" id="input_supplies_modifier" name="suppliesModifier" min="50" max="300" pattern="\d\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.suppliesModifier === "number") { %> value=<%=gameSettings.suppliesModifier %> <% } else { %> value="100" <% } %>
            >
        </div>
    </div>
    
    <div class="col-sm-3">
        <label for="input_recruitment_modifier" class="form-label">Recruitment</label>
        <div class="w-auto">
            <input class="form-control" type="number" id="input_recruitment_modifier" name="recruitmentModifier" min="50" max="300" pattern="\d\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.recruitmentModifier === "number") { %> value=<%=gameSettings.recruitmentModifier %> <% } else { %> value="100" <% } %>
            >
        </div>
    </div>

</div>

<hr class="cwHR" />