<div class="row mb-2">
    
    <legend class="col-form-label col-sm-3 pt-0">Starting Provinces</legend>
    
    <div class="col-sm-9">
        <input class="form-control w-auto" type="number" id="input_starting_provinces" name="startingProvinces" min="1" max="9" pattern="\d"
            <% if (typeof gameSettings === "object" && typeof gameSettings.startingProvinces === "number") { %> value=<%=gameSettings.startingProvinces %> <% } else { %> value="1" <% } %>
        >
    </div>
    
</div>