

<div class="form-group row">
    <label for="input_level_1_thrones" class="col-sm-2 col-form-label">Thrones</label>
    <div class="col-sm-10 flex_container_row flex_justify_start">

        <div class="margin_right_sm flex_container_row flex_justify_start">
            <input type="number" id="input_level_1_thrones" name="level1Thrones" min="0" max="20" pattern="\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[0] === "number") { %> value=<%=gameSettings.thrones[0] %> <% } else { %> value="6" <% } %>
            >
            <label for="input_level_1_thrones">Level 1</label>
        </div>

        <div class="margin_right_sm flex_container_row flex_justify_start">
            <input type="number" id="input_level_2_thrones" name="level2Thrones" min="0" max="15" pattern="\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[1] === "number") { %> value=<%=gameSettings.thrones[1] %> <% } else { %> value="3" <% } %>
            >
            <label for="input_level_2_thrones">Level 2</label>
        </div>

        <div class="margin_right_sm flex_container_row flex_justify_start">
            <input type="number" id="input_level_3_thrones" name="level3Thrones" min="0" max="10" pattern="\d\d?"
                <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[2] === "number") { %> value=<%=gameSettings.thrones[2] %> <% } else { %> value="1" <% } %>
            >
            <label for="input_level_3_thrones">Level 3</label>
        </div>

    </div>
</div>

<div class="form-group row">
    <label for="input_ascension_points" class="col-sm-2 col-form-label">Ascension Points</label>
    <div class="col-sm-10">
        <input type="number" id="input_ascension_points" name="ascensionPoints" min="1" max="80" pattern="\d\d?"
            <% if (typeof gameSettings === "object" && typeof gameSettings.ascensionPoints === "number") { %> value=<%=gameSettings.ascensionPoints %> <% } else { %> value="8" <% } %>
        >
    </div>
</div>