<hr class="cwHR" />

<div class="row">
    <legend class="pt-0 cwLegend">Thrones</legend>
</div>

<div class="row mb-2 cwTableRow">
        
        <div class="col-sm-3">
            <label for="input_level_1_thrones" class="form-label">Level 1</label>
            <div class="w-auto">
                <input class="form-control w-auto" type="number" id="input_level_1_thrones" name="level1Thrones" min="0" max="20" pattern="\d\d?"
                    <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[0] === "number") { %> value=<%=gameSettings.thrones[0] %> <% } else { %> value="6" <% } %>
                >
            </div>
        </div>
        
        <div class="col-sm-3">
            <label for="input_level_2_thrones" class="form-label">Level 2</label>
            <div class="w-auto">
                <input class="form-control w-auto" type="number" id="input_level_2_thrones" name="level2Thrones" min="0" max="15" pattern="\d\d?"
                    <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[1] === "number") { %> value=<%=gameSettings.thrones[1] %> <% } else { %> value="3" <% } %>
                >
            </div>
        </div>

        <div class="col-sm-3">
            <label for="input_level_3_thrones" class="form-label">Level 3</label>
            <div class="w-auto">
                <input class="form-control w-auto" type="number" id="input_level_3_thrones" name="level3Thrones" min="0" max="10" pattern="\d\d?"
                    <% if (typeof gameSettings === "object" && typeof gameSettings.thrones === "object" && Array.isArray(gameSettings.thrones) === true && typeof gameSettings.thrones[2] === "number") { %> value=<%=gameSettings.thrones[2] %> <% } else { %> value="1" <% } %>
                >
            </div>
        </div>
        
        <div class="col-sm-3">
            <label for="input_ascension_points" class="form-label">Ascension Points</label>
            <div class="w-auto">
                <input class="form-control w-auto" type="number" id="input_ascension_points" name="ascensionPoints" min="1" max="80" pattern="\d\d?"
                    <% if (typeof gameSettings === "object" && typeof gameSettings.ascensionPoints === "number") { %> value=<%=gameSettings.ascensionPoints %> <% } else { %> value="8" <% } %>
                >
            </div>
        </div>

</div>

<hr class="cwHR" />