
<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs', {page: "home"})-%>

<!-- Discord Oauth2 flow: https://discordjs.guide/oauth2/#putting-it-together -->

<div id="body" class="h-100 bg" style="border: 1px solid red;">

    <div class="container card-bg" style="border: 1px solid red;">

        <div id="presentationDiv" class="row text-h-centered">
            <div class="col-sm" style="border: 1px solid red;">
                <img src="img/hound.png" class="img-fluid w-50" alt="Mr. Clockwork logo" style="border: 1px solid red;">
            </div>

            <div class="col-sm-8" style="border: 1px solid red;">
                <h1>Clockwork v4 is here!</h1>
                <p>Mr. Clockwork is a Discord bot built specifically to help players host their <a href="https://store.steampowered.com/app/722060/Dominions_5__Warriors_of_the_Faith/">Dominions 5</a> games. Featuring integrated live game status updates, player preferences, map and mod uploading and more, the bot commands several dedicated servers to provide hosting space for a game in which each match can easily last several months.</p>
            </div>
        </div>

        <div id="identifyDiv" class="row" style="border: 1px solid red;">

            <div class="col-sm text-h-centered" style="border: 1px solid red;">
                <h3>Serving 666 members</h6>
                <h3>In 69 servers</h6>
            </div>

            <div class="col-sm-8 d-flex justify-content-center align-items-center" style="border: 1px solid red;">

                <a href="/authenticate" class="btn btn-secondary rounded-pill"  style="border: 1px solid red;">
                    <img src="img/discord-logo.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                    Go to Dashboard
                </a>

            </div>
            
        </div>
    </div>
</div>

<script>

    function generateRandomString() 
    {
        let randStr = '';
        const rand = Math.floor(Math.random() * 10);

        for (let i = 0; i < 20 + rand; i++)
        {
            randStr += String.fromCharCode(33 + Math.floor(Math.random() * 94));
        }

        return randStr;
    }

    window.onload = () => 
    {
        const fragment = new URLSearchParams(window.location.hash.slice(1));

        if (fragment.has("access_token") === false)
        {
            const randStr = generateRandomString();
            localStorage.setItem('stateParameter', randStr);

            document.getElementById('login').href += `&state=${encodeURIComponent(btoa(randStr))}`;
            return document.getElementById('login').style.display = 'block';
        }

        else
        {
            const urlState = fragment.get("state");
            const stateParameter = localStorage.getItem('stateParameter');

            console.log("urlState: " + urlState);
            console.log("stateParameter: " + stateParameter);

            if (stateParameter !== atob(decodeURIComponent(urlState)))
                return console.log("You may have been clicjacked!");


            const accessToken = fragment.get("access_token");
            const tokenType = fragment.get("token_type");

            console.log("access_token: " + accessToken);
            console.log("tokenType: " + tokenType);

            fetch('https://discord.com/api/users/@me', {
                    headers: { authorization: `${tokenType} ${accessToken}` }
            })
            .then((res) => res.json())
            .then((response) => 
            {
                console.log(response);
                const { username, discriminator } = response;
                document.getElementById('info').innerText += ` ${username}#${discriminator}`;
            })
            .catch(console.error);
        }
    }

</script>


<%- include('../partials/footer.ejs')-%>