

<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs')-%>

<div class="container card" style="border: 1px solid red;">

    <div class="card-header" style="border: 1px solid red;">

        <span></span>

    </div>

    <div class="card-body row d-flex align-items-center flex-column" style="border: 1px solid red;">
    
        <p id="result">
            <%= (typeof result === "string") ? result : "" %>
        </p>

    </div>
</div>


<%- include('../partials/footer.ejs')-%>