

<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs')-%>


<div id="body" class="h-100 bg">

    <div class="container card">

        <div class="card-header">

            <span></span>

        </div>

        <div class="card-body row d-flex align-items-center flex-column">
        
            <p id="result">
                <%= (typeof result === "string") ? result : "" %>
            </p>

        </div>
    </div>
    
</div>


<%- include('../partials/footer.ejs')-%>